{{>navigations}}

<div class="wrapper d-flex align-items-stretch">
    {{>NavLat}}

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        {{>Message}}
        <link rel="stylesheet" type="text/css" href="../../CSS/registro.css" />
        <center>
            <h2 class="mb-4 ">Registro</h2>
        </center>
        <div class="wrapper">

            <form class="login" action="/links/Admin/PrincipalRegistro" method="POST" >
                <p class="title">Persona</p>
                <input type="number"  name="Cedula" maxlength="12"   oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  placeholder="Cedula" autofocus required/>
                <i class="fa fa-user"></i>
                <input type="text" name="Nombre" placeholder="Nombre" required/>
                <i class="fa fa-user"></i>
                <input type="text" name="Edad" placeholder="Edad" required/>
                <i class="fa fa-user"></i>
                {{!-- <input type="file" name="Foto" placeholder="Foto" />
                <i class="fa fa-photo"></i> --}}

                <button>
                    <i class="spinner"></i>
                    <span class="state">Crear</span>
                </button>
            </form>



        </div>

    </div>
</div>

{{>script}}