{{>navigations}}

<div class="wrapper d-flex align-items-stretch">

    {{>NavLat}}
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">


        {{>Option}}

    </div>
</div>

{{>script}}