{{>navigations}}

<div class="wrapper d-flex align-items-stretch">
    {{>NavLat}}

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        {{>Message}}
        <link rel="stylesheet" type="text/css" href="../../CSS/registro.css" />
        <center>
            <h2 class="mb-4 ">Registro</h2>
        </center>
        <div class="wrapper">

            <form class="login" action="/links/Admin/Prueba" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" placeholder="Foto" />
                <i class="fa fa-photo"></i>

                <button>
                    <i class="spinner"></i>
                    <span class="state">Crear</span>
                </button>
            </form>



        </div>

    </div>
</div>

{{>script}}