<link href="../../CSS/img.css" rel="stylesheet" type="text/css" />

{{>Message}}

<div class="cont center py-5 col-md-12">
  <a href="/links/Admin/PrincipalRegistro" class="col-md-6"><img src="../../Images/lapiz.jpg">
    <center>
      <H1>Registrar</H1>
    </center>
  </a>


  <a href="/links/Admin/PrincipalBuscar" class="col-md-6"><img src="../../Images/lupa.jpg">
    <center>
      <H1>Buscar</H1>
    </center>
  </a>
</div>